body{
    background: #FFFFFF;
    color: #000000;
    /*  font-family: "Courier New", Courier, monospace;*/
    font-family: "Times new roman";
    font-size: 100%;
}
table{
    background: #FFFFFF;
    color: #000000;
    font-family: "Times new roman";
    font-size: 100%;
}

div.myConf{
    font-size: 120%;
}

div.myHeadings{
    font-size: 110%;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
