body{
    background: #3b3b3b;
    color: #ffffff;
    /*  font-family: "Courier New", Courier, monospace;*/
    font-family: "Times new roman";
    font-size: 100%;
}

table{
    background: #3b3b3b;
    color: #ffffff;
    font-family: "Times new roman";
    font-size: 100%;
}

div.homepage{
		max-width: 1200px;
    word-wrap: break-word;
}
div.myConf{
    font-size: 140%;
		line-height: 1.2;
}
div.myHeadings{
    font-size: 140%;
}
div.sidepanel{
    font-size: 110%;
}
div.highlight{
    color: #87cefa;
		font-weight: bold;
}

a:link {
  color:  #ff7f00;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color:  #ff7f00;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color:  #ff7f00;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

hr{
		border-color: #737373;
}
